.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  text-align: center;
  border: 1px solid rgb(255 255 255 / 59.5%);
}

.stone {
  width: 60px;
  height: 60px;
  border-radius: 100px;
}
